<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugtracker</title>
</head>
<body>
    <h1>Вы успешно авторизовались</h1>
    <form action="/exit" method="POST">
        <button type="submit">Выйти</button>
    </form>
</body>
</html>